{% extends "AppformFrontendBundle::base_form.html.twig" %}
{% form_theme form 'AppformFrontendBundle:Form:fields.html.twig' %}

{% block title %}Moreinfo Application Form{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/chosen.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('form/css/forms.css') }}">
{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://a.remarketstats.com/px/smart/?c=22b9d07e947abbb&seg=Form"></script>
    <div class="wrapper wrapper-640">
        <div class="banner-block">
            {% if ('allied2' in agency|lower) %}
                <img class="col-full" src="{{ asset('form/img/banner1a.jpg') }}"/>
                <img class="col-half" src="{{ asset('form/img/nurse2.jpg') }}"/>
                <img class="col-half" src="{{ asset('form/img/nurse3.jpg') }}"/>
            {% else %}
                {% if ('therapist' in agency|lower) or ('allied' in agency|lower) %}
                    <img class="col-full" src="{{ asset('form/img/banner1a-allied.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/therapist2.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/therapist3.jpg') }}"/>
                {% elseif ('nurse' in agency|lower) or ('rn' in agency|lower) %}
                    <img class="col-full" src="{{ asset('form/img/banner1a.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/nurse2.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/nurse3.jpg') }}"/>
                {% else %}
                    <img class="col-full" src="{{ asset('form/img/banner1a.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/banner2.jpg') }}"/>
                    <img class="col-half" src="{{ asset('form/img/banner3.jpg') }}"/>
                {% endif %}
            {% endif %}
        </div>

        <div style="clear: both;"></div>

        <form action="{{ url('appform_frontend_apply') }}" method="post" class="j-forms j-multistep" id="j-forms" {{ form_enctype(form) }} >
            {{ form_widget(form.appOrigin) }}
            <div class="header">
                <h1>More Information Request</h1>
            </div>
            <div class="content">
                <div id="response">
                    {{ form_errors(form) }}
                </div>

                <fieldset>
                    <div class="j-row">
                        <div class="span6 unit">
                            <div class="input">
                                <label class="icon-left" for="appform_frontendbundle_applicant[firstName]">
                                    <i class="fa fa-user"></i>
                                </label>
                                {{ form_widget(form.firstName) }}
                            </div>
                        </div>
                        <div class="span6 unit">
                            <div class="input">
                                <label class="icon-left" for="appform_frontendbundle_applicant[lastName]">
                                    <i class="fa fa-user"></i>
                                </label>
                                {{ form_widget(form.lastName) }}
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="span6 unit">
                            <div class="input">
                                <label class="icon-left" for="email">
                                    <i class="fa fa-envelope-o"></i>
                                </label>
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-left" for="subject">
                                    <i class="fa fa-mobile-phone {#toggletip#}"></i>
                                    {#<div class="helpbox">
                                        By providing your mobile phone number, you are consenting to receive text messages from the HCEN client agencies. You can unsubscribe at any time by texting "Stop." Texts are free, though standard text message fees from your cell phone service provider may apply. See
                                        <a target="_blank" class="privacylink" href="http://healthcaretravelers.com/jobboard/privacy/">privacy policy</a>  for details
                                    </div>#}
                                </label>
                                {{ form_widget(form.personalInformation.phone) }}
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-left" for="subject">
                                    <i class="fa fa-map-marker"></i>
                                </label>
                                {{ form_widget(form.personalInformation.state) }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-user-md"></i>
                                </label>
                                {{ form_widget(form.personalInformation.discipline) }}
                            </div>
                        </div>
                        <div class="unit span6">
                            <div class="input select">
                                {{ form_widget(form.personalInformation.licenseState, {'attr': {'data-placeholder' : "* Primary License/Cert. State"}}) }}
                                <span class="tooltip tooltip-right-top">Select License State(s)</span>
                                <i></i>
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-graduation-cap"></i>
                                </label>
                                {{ form_widget(form.personalInformation.specialtyPrimary) }}
                            </div>
                        </div>
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-stethoscope"></i>
                                </label>
                                {{ form_widget(form.personalInformation.yearsLicenceSp) }}
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-graduation-cap"></i>
                                </label>
                                {{ form_widget(form.personalInformation.specialtySecondary, {'attr': {'placeholder': 'Secondary Specialty'}}) }}
                            </div>
                        </div>
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-stethoscope"></i>
                                </label>
                                {{ form_widget(form.personalInformation.yearsLicenceSs) }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-check"></i>
                                </label>
                                {{ form_widget(form.personalInformation.isExperiencedTraveler) }}
                            </div>
                        </div>
                        <div class="unit span6">
                            <div class="input select">
                                {{ form_widget(form.personalInformation.desiredAssignementState, {'attr': {'data-placeholder' : "* Destination State(s)"}}) }}
                                <span class="tooltip tooltip-right-top">Select Desired Assignment State(s)</span>
                                <i></i>
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="subject">
                                    <i class="fa fa-medkit"></i>
                                </label>
                                {{ form_widget(form.personalInformation.isOnAssignement) }}
                            </div>
                        </div>
                        <div class="span6 unit">
                            <div class="input disabled-view">
                                <label class="icon-right" for="appform_frontendbundle_applicant_personalInformation_completion">
                                    <i class="fa fa-calendar"></i>
                                </label>
                                {{ form_widget(form.personalInformation.completion, {'attr': {'placeholder': 'Completion Date'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="j-row">
                        <div class="unit span6">
                            <div class="input">
                                <label class="icon-right" for="last_name">
                                    <i class="fa fa-user"></i>
                                </label>
                                {{ form_widget(form.personalInformation.assignementTime) }}
                            </div>
                        </div>
                        <div class="span6 unit">
                            <label class="input append-big-btn">
                                <label class="icon-left" for="file_input">
                                    <i class="fa fa-download"></i>
                                </label>
                                <div class="file-button">
                                    Browse
                                    {{ form_widget(form.document) }}
                                </div>
                                <input type="text" id="file_input" readonly="" placeholder="Resume/CV">
                                <span class="hint">(Optional) Only: doc, docx, pdf</span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- end /.content -->
            <div class="footer">
                <div class="j-row">
                    <button type="submit" class="primary-btn multi-submit-btn">Send</button>
                    <button type="button" class="primary-btn multi-next-btn">Next</button>
                    <button type="button" class="secondary-btn multi-prev-btn">Back</button>
                    <img style="width: 25%;" src="https://healthcaretravelers.com/images/seal.png" alt="">
                </div>
            </div>
            <input type="hidden" name="formToken" value="{{ formToken }}">
            <input type="hidden" name="agency" value="{{ agency }}">
            <input type="hidden" name="jg8" value="{{ jg8 }}">
            <input type="hidden" name="lensa" value="{{ lensa }}">
            <!-- end /.footer -->
            <div class="header">
                <p>We value your
                    <a target="_blank" href="http://healthcaretravelers.com/jobboard/privacy/">privacy</a>. By submitting this form, you agree to our
                    <a target="_blank" href="http://healthcaretravelers.com/jobboard/terms-of-use/">Terms of Service</a>,
                    <a target="_blank" href="http://healthcaretravelers.com/jobboard/privacy/">TCPA Consent &
                        Privacy</a></p>
            </div>
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('form/js/jquery.1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('form/js/jquery.maskedinput.min.js') }}"></script>
    {# form script #}
    <script type="text/javascript" src="{{ asset('form/js/form.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $('#appform_frontendbundle_applicant_personalInformation_discipline').change(function () {
            var discipline = $(this);
            $.ajax({
                url: "/specialties-list",
                type: "GET",
                dataType: "JSON",
                data: {
                    discipline: discipline.val(),
                    agency: "{{ agency }}"
                },
                success: function (specialties) {
                    var specialtiesSelect = $("#appform_frontendbundle_applicant_personalInformation_specialtyPrimary");
                    var specialtiesSelectSecondary = $("#appform_frontendbundle_applicant_personalInformation_specialtySecondary");
                    // Remove current options
                    specialtiesSelect.html('');
                    specialtiesSelectSecondary.html('');
                    // Empty value ...
                    specialtiesSelect.append('<option value> Select Specialties</option>');
                    specialtiesSelectSecondary.append('<option value> Select Specialties</option>');
                    $.each(specialties, function (key, specialty) {
                        specialtiesSelect.append('<option value="' + specialty.id + '">' + specialty.name + '</option>');
                        specialtiesSelectSecondary.append('<option value="' + specialty.id + '">' + specialty.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>

    <!-- Hotjar Tracking Code for https://app.healthcaretravelers.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2507748,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

{% endblock %}